.DS_Store
node_modules
bower_components


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.rpt2_cache
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.project
*_autoload*
phpunit.xml.dist
_act*
*.swp
*.tmp
.rigger*
._pylon.dat
conf/used/
tmp
cscop*
runtime/*
run/*
.rigger.dat
rigger.log
_prj/*tags
.prjide
templates_c/*
run.log
_rg/.*.data
.upload/
dist/debug
*sonar*
coverage
